.nodeWrap {
  display: flex;
  padding: 5px 0 5px 5px;
  gap: 4px;
}

.node {
  display: flex;
  flex-direction: column;
}

.titleBlock {
  display: flex;
  align-items: center;
  gap: 4px;
}

.title {
  margin-left: 15px;
}

.folderIcon {
  width: 16px;
  height: 16px;
}

