.checkboxWrap {
  display: flex;
  align-items: center;
  gap: 4px;
}

.checkboxWrap input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid #4C4C4C;
  outline: none;
  cursor: pointer;
  margin: 0;
}

.checkboxWrap input[type="checkbox"]:disabled {
  border-color: #C3C3C3;
  background-color: #DBDBDB;
}

.checkboxWrap input[type="checkbox"]:disabled + span {
  color: #DBDBDB;
}

input:checked {
  background-color: #4C4C4C;
  position: relative;
}

input:checked::before {
  content: url("./assets/check.svg");
  color: #f8f9fa;
  position: absolute;
  right: 1px;
  top: -1px;
}

input.indeterminate {
  background-color: #4C4C4C;
  position: relative;
}

input.indeterminate::before {
  content: url("./assets/indeterminate.svg");
  color: #f8f9fa;
  position: absolute;
  right: 2px;
  top: -4px;
}
